<mat-toolbar>
  <h1>我的笔记</h1>

  <a mat-raised-button routerLink="../dashboard">公共笔记区</a>

  <a mat-fab routerLink="../editor">
    <mat-icon>edit</mat-icon>
  </a>
</mat-toolbar>

<mat-card *ngFor="let note of notes" class="note-card">
  <mat-card-title>{{ note.description }}</mat-card-title>
  <mat-card-subtitle>{{ note.subject }}</mat-card-subtitle>

  <mat-card-actions align="end">
    <a mat-button [href]="gistPage(note.gistId)" target="_blank">阅读笔记</a>
    <button mat-button>编辑</button>
  </mat-card-actions>
</mat-card>