<div *ngIf="article">

    <h2>{{ article.name | uppercase }} Details</h2>
    <div><span>id: </span>{{article.id}}</div>
    <!-- <div>
      <label>name:
        <input [(ngModel)]="article.name" placeholder="name"/>
      </label>
    </div> -->
  
  </div>
  <!-- <span class="badge">Id:&nbsp;{{ article.id}}</span>&nbsp;&nbsp;
            文章名称：&nbsp;{{article.name}}&nbsp;&nbsp;
            作者：&nbsp;&nbsp;{{article.author}}&nbsp;&nbsp;
            发布时间：&nbsp;&nbsp;{{article.time}}&nbsp;&nbsp;
            <br>文章内容：&nbsp;&nbsp;{{article.content}}<br>     -->