<div>
  <mat-form-field class="description">
    <input matInput [(ngModel)]="description" placeholder="简要描述">
  </mat-form-field>

  <mat-form-field class="subject">
    <input matInput [(ngModel)]="subject" placeholder="所属学科">
    <button mat-button *ngIf="subject" matSuffix mat-icon-button aria-label="Clear" (click)="subject=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<mat-form-field class="note-content">
  <textarea matInput [(ngModel)]="content" rows="28" placeholder="Markdown"></textarea>
</mat-form-field>

<div>
  <mat-checkbox [(ngModel)]="readonly" title="勾选后除自己外任何人都不能修改该笔记">只读</mat-checkbox>
  <button *ngIf="gistId" mat-raised-button color="primary" (click)="modify()"
    [disabled]="!description||!subject||!content||readonly">提交修改</button>
  <button *ngIf="!gistId" mat-raised-button color="primary" (click)="commit()"
    [disabled]="!description||!subject||!content">创建笔记</button>
</div>