<mat-card-title>
  <mat-form-field class="full-width">
    <input matInput [(ngModel)]="title" placeholder="Title">
  </mat-form-field>
</mat-card-title>

<mat-card-subtitle>
  <mat-form-field class="full-width">
    <input matInput [(ngModel)]="description" placeholder="Description">
  </mat-form-field>
</mat-card-subtitle>

<mat-card>
<mat-card-content>
  <mat-form-field class="full-width">
    <textarea matInput [(ngModel)]="content" rows=28 placeholder="Write something here..."></textarea>
  </mat-form-field>
</mat-card-content>

<mat-card-actions align="right">
  <button mat-button routerLink="..">Quit without saving</button>
  <button mat-raised-button color="primary" (click)="create()"
    [disabled]="!title||!content">Create</button>
</mat-card-actions>
</mat-card>
