<mat-progress-bar *ngIf="isSubmitting" mode="indeterminate"></mat-progress-bar>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 *ngIf="!nickname.value">Welcome back!</h1>
      <h1 *ngIf="nickname.value">Hi, {{ nickname.value }}! Fantastic to have you here!</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="you@example.com"
      [formControl]="email" [value]="email.value" autofocus>
    <mat-error *ngIf="email.invalid">{{ checkEmail() }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'"
        [formControl]="password" [value]="password.value">
      <button matSuffix mat-icon-button (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    <mat-error *ngIf="password.invalid"></mat-error>
  </mat-form-field>

  <mat-card-actions align="end">
    <button mat-raised-button (click)="login()"
      [disabled]="email.invalid || password.invalid || isSubmitting">Login</button>
  </mat-card-actions>
</mat-card>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>
        Create an account
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="you@example.com"
        [formControl]="email" [value]="email.value" required>
      <mat-error *ngIf="email.invalid">{{ checkEmail() }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nickname</mat-label>
      <input matInput placeholder="At least 2 characters" [formControl]="nickname" required>
      <mat-error *ngIf="nickname.invalid"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'"
        [formControl]="password" [value]="password.value" required>
      <button matSuffix mat-icon-button (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid"></mat-error>
    </mat-form-field>

    <mat-action-row>
      <button mat-raised-button (click)="register()"
        [disabled]="email.invalid || nickname.invalid || password.invalid || isSubmitting">Sign up</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
