<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar color="primary">
      <!-- <button *ngIf="nickname" mat-button [matMenuTriggerFor]="profile">{{ nickname }}</button> -->
      <button mat-button [matMenuTriggerFor]="profile">User</button>
      <mat-menu #profile="matMenu">
        <button mat-menu-item>Your profile</button>
        <mat-divider></mat-divider>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item (click)="logout()">Sign out</button>
      </mat-menu>

    </mat-toolbar>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of navItems" [expanded]="item.expand">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.title }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list *ngFor="let route of item.routes">
          <a mat-list-item [routerLink]="route.path">
            {{ route.name }}
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">{{ title }}</span>
    </mat-toolbar>

    <div class="main-router-outlet">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
