.main-router-outlet {
    padding: 1.6rem 0.8rem;
    /* background: ; */
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 250px;
}

.title {
    width: 87%;
}

.mat-toolbar.mat-primary {
    display: flex;
    justify-content: space-between;
}
