.main-router-outlet {
    height: 90vh;
    display: flex;
    justify-content: center;
}

.sidenav-container {
    height: 100vh;
}

.sidenav {
    width: 250px;
}

.title {
    width: 87%;
}

.mat-toolbar.mat-primary {
    display: flex;
    justify-content: space-between;
}
