<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <mat-icon>menu</mat-icon>
    </mat-toolbar>

    <mat-nav-list *ngFor="let tag of tags">
      <a mat-list-item routerLink="{{ tag.path }}">{{ tag.name }}</a>
      <a mat-list-item href="http://47.106.187.104">心灵驿站</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">{{ title }}</span>
      <span>{{ nickname }}</span>
      <button mat-raised-button (click)="logout()">登出</button>
    </mat-toolbar>

    <div class="main-router-outlet">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>