<mat-card>
  <mat-form-field class="search">
    <input matInput #searchBox (keyup)="search(searchBox.value)" [(ngModel)]="searching" placeholder="搜索笔记">
    <button mat-button *ngIf="keyword" matSuffix mat-icon-button aria-label="Clear" (click)="keyword=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-card-actions align="end">
    <a mat-raised-button routerLink="../mine">我的笔记</a>
    <a mat-raised-button routerLink="../editor">创建新笔记</a>
  </mat-card-actions>
</mat-card>

<div *ngIf="searching">
  <mat-card *ngFor="let note of notes$ | async" class="note-card">
    <mat-card-title>{{ note.description }}</mat-card-title>
    <mat-card-subtitle>{{ note.subject }}</mat-card-subtitle>

    <mat-card-actions align="end">
      <a mat-button [href]="gistPage(note.gistId)" target="_blank">阅读笔记</a>
      <button mat-button (click)="modify(note.gistId)" [disabled]="note.readonly">编辑</button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="!searching">
  <mat-card *ngFor="let note of recommendations" class="note-card">
    <mat-card-title>{{ note.description }}</mat-card-title>
    <mat-card-subtitle>{{ note.subject }}</mat-card-subtitle>

    <mat-card-actions align="end">
      <a mat-button [href]="gistPage(note.gistId)" target="_blank">阅读笔记</a>
      <button mat-button (click)="modify(note.gistId)" [disabled]="note.readonly">编辑</button>
    </mat-card-actions>
  </mat-card>
</div>